<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="inner-box">
        <div id="message" >
            
        </div>
    <div class="inbox">
        <div class="message-in">
        <input #input id="customer_input" type="text">
        <button id="ntr" class="enter" (click)="message(input.value)"><img src="https://img.icons8.com/flat_round/2x/right.png" height="30" width="30" alt="icon"></button>
    </div>
    </div>
        
</div>
</body>
</html>

